---
eleventyExcludeFromCollections: true
pagination:
  data: collections.all
  size: 10
  alias: posts
  reverse: true
permalink: "/blog/page/{{ pagination.pageNumber }}/"
---

{% render "base.html" %}

{% assign tags = selected_tags %}
{% render "tag_list.html" with tags as tags %}

{% for post in posts %}
  {% if post.data.title %}
    <div class="post-header">
      <p class="post-date">{{post.data.date | date: "%Y/%m/%d %H:%M", 0}}</p>
      <hr>
      <h2 class="post-title"><a href={{post.url}}>{{post.data.title}}</a></h2>
    </div>

    <div class="post-main">
      {{post.content}}
    </div>
    <br>
  {% endif %}
{% endfor %}

{% assign n = pagination.pageNumber %}
<br>
<div class="pages">
  <h3><a href="{{ pagination.href.previous }}">前</a></h3>
  <h3>{{ n }}</h3>
  <h3><a href="{{ pagination.href.next }}">次</a></h3>
</div>

